.grid-container {
    display: grid;
    grid-template-columns: 65%;
    grid-template-rows: 120px repeat(3, 1fr);
    border: 2px solid black;
    justify-content: center;
    font-family: Montserrat, Roboto, Helvetica, Arial, sans-serif;
}

.grid-item {
    background-color: aliceblue;
    border: 4px solid rgba(23, 34, 197, 0.836);
    border-radius: 25px;
    margin: 20px;
    text-align: center;
}

body {
    background-color: rgba(47, 151, 236, 0.815);
}

#titre {
    background-color: aliceblue;
    margin: 20px;
}

#question {
    padding: 20px;
    margin: 5px;
}

#reponses {
    border-radius: 7px;
}

#poster {
    background-color: aliceblue;
    margin: 20px;
}

.wrapper {
    padding: 1.5rem 0;
}

.button {
    display: inline-block;
    text-align: center;
    background: #eee;
    color: #1a1e24;
    font-weight: bold;
    padding: 1.18em 1.32em 1.03em;
    line-height: 1;
    border-radius: 5px;
    min-width: 8.23em;
    text-decoration: none;
    font-size: 1.25rem;
}

/* Styles pour les questions */
h3 {
    font-size: 1.2em;
    color: #333;
}

label {
    font-weight: bold;
}

input[type="text"] {
    width: 50%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Styles pour les réponses */
p {
    font-weight: bold;
    margin-bottom: 10px;
}

input[type="radio"] {
    margin-right: 5px;
}

/* Ligne de séparation */
hr {
    margin-top: 15px;
    margin-bottom: 15px;
    border: 0;
    border-top: 1px solid #ccc;
}