.grid-container {
    display: grid;
    grid-template-columns: 65%;
    grid-template-rows: 120px repeat(3, 1fr);
    border: 2px solid black;
    justify-content: center;
}

.grid-item {
    background-color: aliceblue;
    border: 6px solid rgba(48, 56, 167, 0.7);
    border-radius: 40px;
    margin: 20px;
    text-align: center;
}

body {
    background-color: rgba(76, 174, 255, 0.6);
}

#titre {
    background-color: aliceblue;
    margin: 20px;
}

#question {
    padding: 20px;
    margin: 5px;
}